# npm
node_modules
package-lock.json
npm-shrinkwrap.json
.env
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs
dist/

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore